[submodule "Indian-Markets"]
    path = Indian-Markets
    url = https://github.com/Finance-LLMs/Indian-Markets
    branch = main
[submodule "Yahoo-Finance"]
    path = Yahoo-Finance
    url = https://github.com/Finance-LLMs/Yahoo-Finance
    branch = main
[submodule "Deep-Research"]
    path = Deep-Research
    url = https://github.com/Finance-LLMs/deep-research-python
    branch = main
[submodule "Digital-Persona"]
    path = Digital-Persona
    url = https://github.com/Finance-LLMs/Digital-Persona
    branch = main
[submodule "Upstox-MCP-Server"]
    path = Upstox-MCP-Server
    url = https://github.com/Finance-LLMs/Upstox-MCP-Server
    branch = main
